body{
margin:0;
background:black;
font-family:Arial;
overflow:hidden;
color:white;
}

#panel{
position:absolute;
top:20px;
left:20px;
z-index:20;
background:#111;
padding:20px;
border-radius:14px;
border:1px solid #333;
width:320px;
}

#adminBar{
position:absolute;
top:20px;
right:20px;
z-index:20;
background:#111;
padding:20px;
border-radius:14px;
border:1px solid #333;
width:280px;
display:none;
cursor:move;
user-select:none;
}

h1,h2{
margin-top:0;
}

input,
select,
button{

display:block;

width:100%;

margin-top:12px;

padding:12px;

background:#222;

border:1px solid #444;

color:white;

box-sizing:border-box;

border-radius:8px;

font-size:16px;
}

button{
background:#00d4ff;
border:none;
font-weight:bold;
cursor:pointer;
}

button:hover{
opacity:0.9;
}

#viewer{
position:absolute;
top:0;
left:0;
width:100vw;
height:100vh;
background:black;
}

.node{
stroke:white;
stroke-width:2;
cursor:pointer;
}

.label{
fill:white;
font-size:20px;
text-anchor:middle;
pointer-events:none;
}

.arrow{
stroke:white;
stroke-width:4;
fill:none;
marker-end:url(#arrowhead);
}

.enzyme{
fill:#00ff88;
font-size:18px;
text-anchor:middle;
pointer-events:none;
}

.selected{
stroke:#00ff88;
stroke-width:5;
}
